body {
    /*Gets rid of tiny whitespace on left side of the top bar*/
    margin: 0;

    /*Inserts the background image (still working on it)*/
    /* background-image: url("../img/ygmgzss.jpg");
    background-attachment: fixed; */
    /* background-repeat: no-repeat; */
}

/*----------Top Navbar Specifications----------*/

/*Green bar itself*/
nav {
    overflow: hidden;
    background-color: #11c482;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

/*Name on the navbar*/
nav .name-field {
    margin-left: 40px;
    float: left;
    color: #0a509b;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 18px;
}

/*Enclosing class for group of all links on navbar*/
nav .links {    
    margin-right: 40px;
}

/*Individual text for links*/
nav .links a {
    float: right;
    color: #ba4c0d;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    padding: 18px 28px;
}

/*Hovering over a link on the navbar*/
nav a:hover {
    background: #a016ce;
    color: #ffffff;
    transition: 1.5s;
    -webkit-transition: 1.5s;
}

/*--------------------*/

/*Headshot picture*/
#headshot {
    max-width: 25%;
    max-height: 25%;
    border-radius: 32px;
    float: left;
    margin: 4px 10px;
    padding: 10px 10px;
}

/*Logos for languages*/
.lang-logo {
    margin: 4px 5px;
    border-radius: 10px; /*This only applies to non-svg files*/
}

/*-------------------*/

/*Enclosing main class for the scrolling area. Media queries for
    its start below the navbar*/

/*Very narrow size*/
@media screen and (max-width: 399px) {
    main {
        margin-top: 175px;
    }
}

/*Narrow size*/
@media screen and (min-width: 400px) and (max-width: 849px) {
    main {
        margin-top: 115px;
    }
}

/*Large/default size*/
@media screen and (min-width: 850px) {
    main {
        margin-top: 50px;
    }
}

/*Apply to all devices*/
main {
    padding: 16px;
}

footer {
    height: 250px;
    background: #bcbaba;
}

/*---------------------*/

/*--------Specifications for the colored boxes that scroll--------*/

/*Yellow colored box*/
#yellow-box, #yellow-box-bullets {
    background: #ffc000;
}

/*Blue colored box*/
#blue-box {
    background: #0a509b;
}

/*Blue colored box inside yellow colored box*/
#sub-box-dark {
    background: #bcbaba;
    margin: 2% 2%;
    padding: 5px;
}

/*Apply to non-sub boxes*/
#yellow-box, #blue-box, #yellow-box-bullets {
    margin: 6% 7%;
    padding: 10px ;
}

/*Apply to all boxes*/
#yellow-box, #yellow-box-bullets, #blue-box, #sub-box-dark{
    overflow: auto;
    border-radius: 18px;
    position: relative;
}

/*Minus 5 z-index for bullet points*/
#yellow-box-bullets{
    z-index: -5;
}

/*----------------*/

/*--------Specifications for text inside boxes--------*/

/* Smartphone screen-specific font sizes*/
@media screen and (max-width: 500px) {
    /* Paragraph primary title (both colors) */
    #p-title-black, #p-title-white {
        font-size: 24px;
    }

    /* Paragraph secondary title (both colors) */
    #p-title2-black, #p-title2-white {
        font-size: 20px;
    }

    /* Paragraph body (both colors, indented or unindented) */
    #p-unindent-black, #p-indent-black, #p-unindent-white, #p-indent-white {
        font-size: 16px;        
    }
}

/* Tablet and laptop screen-specific font sizes*/
@media screen and (min-width: 501px) {
    /*Paragraph primary title (both colors)*/
    #p-title-black, #p-title-white {
        font-size: 42px;
    }

    /*Paragraph secondary title (both colors)*/
    #p-title2-black, #p-title2-white {
        font-size: 36px;
    }

    /*Paragraph body (both colors, indented or unindented)*/
    #p-unindent-black, #p-indent-black, #p-unindent-white, #p-indent-white {
        font-size: 28px;        
    }
}

/* Paragraph title with black text */
#p-title-black, #p-title2-black {
    color: #000000;
}

/* Paragraph title with white text */
#p-title-white, #p-title2-white {
    color: #ffffff;   
}

/* Paragraph primary title (both colors) */
#p-title-white, #p-title-black {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center; 
}

/* Paragraph secondary title (both colors) */
#p-title2-white, #p-title2-black {
    text-decoration: none;
    font-family: 'Inconsolata', sans-serif;
    font-weight: bold;
    text-align: center; 
}

/* Paragraph body with indented text (both colors) */
#p-indent-black, #p-indent-white {
    text-indent: 50px;
}

/* Paragraph body with black text */
#p-unindent-black, #p-indent-black {
    color: #000000;
}

/* Paragraph body with white text */
#p-unindent-white, #p-indent-white {
    color: #ffffff;
}

/* Paragraph body (both colors, indented or unindented) */
#p-unindent-black, #p-indent-black, #p-unindent-white, #p-indent-white {
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    text-align: left;
    padding: 9px 3%;
}

/* Make link text white in paragraphs */
p a {
    color: #ffffff;
}

/*------Specifications for subway-like icon indicators------*/

/* Row and column for the circles and text in the key box */
#key-items-row {
    display: flex;
    flex-wrap: wrap;
}

#key-items-col {
    min-width: 300px;
    max-width: 300px;
    flex: 20%;
    margin-top: 5px;
}

/* Smartphone screen-specific font size*/
@media screen and (max-width: 500px) {
    #icon-text-black, #icon-text-white, #u-circle-text {
        font-size: 11px;
    }
}

/* Tablet and laptop screen-specific font size*/
@media screen and (min-width: 501px) {
    #icon-text-black, #icon-text-white, #u-circle-text {
        font-size: 16px;
    }
}

/* Blue BL Circle */
#bl-circle {
    background: #042945;
    border-radius: 40px;
}

/* Blue TS Circle */
#ts-circle {
    background: #57b231;
    border-radius: 40px;
}

/* Purple SP Circle */
#sp-circle {
    background: #9966ff;
    border-radius: 40px;
}

/* Orange OSP Circle */
#osp-circle {
    background: #ff6600;
    border-radius: 32px;
}

/* Turquoise U Circle */
#u-circle {
    background: #009999;
    border-radius: 28px;
}

/* Apply to all circles */
#ts-circle, #sp-circle, #osp-circle, #u-circle, #bl-circle {
    float: left;
    margin: 4px 7px;
    padding: 10px 10px;
    overflow: auto;
}

/* 6px left-right padding for single letter */
#u-circle-text {
    color: #000000;
    padding: 2px 6px;
}

/* 2-3 letter 1px left-right padding (black) */
#icon-text-black {
    color: #000000;
    padding: 2px 1px;
}

/*2-3 letter 1px left-right padding (white)*/
#icon-text-white {
    color: #ffffff;
    padding: 2px 1px;
}

/* Apply to all text within icons */
#icon-text-black, #icon-text-white, #u-circle-text {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

/* Text used to identify which circle corresponds to what */
#key-text {
    color: #000000;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 14px 18px 6px 2px;
    float: left;
}

/*-------------*/

/*-----------Subway line-style item list-----------*/

/* "Subway stop" circles with black border and white fill */
li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 5px solid black;
    background: white;
    display: flex;
    align-items: center;
    position: relative;
    margin: 90px 0%;
}

/*For now target first and last children to reduce space between
the endpoint "stops" and the box boundaries*/
li:first-child {
    margin-top: 35px;
}

li:last-child {
    margin-bottom: 35px;
}

/* Pink connecting line */
ul.pink li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    border-left: 5px solid #cc2ac9;
    width: 1px;
    height: 115px;
    z-index: -1;
}

/* Blue connecting line */
ul.blue li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    border-left: 5px solid #1e9dbf;
    width: 1px;
    height: 115px;
    z-index: -1;
}

/* Disallows a hanging line after the last circle */
li:last-child:before {
    display: none;
}

/* Row to hold to columns of "subway line" bullet lists */
.line-row {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
}

/* Individual column that holds a "subway line" */
.line-col {
    /* flex: 33.33%; */
    min-width: 460px;
    flex: 33.33%;
}

/* Row for each "stop" (bullet point) that holds multiple items */
.row {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

/* Individual column in a row for each item (language, circle, etc.) */
.col {
    flex: 33.33%;
    padding: 1px;
}


