body {
    /*Gets rid of tiny whitespace on left side of the top bar*/
    margin:0;
}

img {
    max-width: 25%;
    max-height: 25%;
    border-radius: 32px;
    float: left;
    margin: 4px 10px;
    padding: 10px 10px;
}

/*----------Top Navbar Specifications----------*/

/*Green bar itself*/
.navbar {
    overflow: hidden;
    background-color: #11c482;
    position: fixed;
    top: 0;
    width: 100%;
}

/*Name on the navbar*/
.navbar .name-field {
    margin-left: 40px;
    float: left;
    color: #0a509b;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    text-align: center;
    font-size: 24;
    padding: 18px;
}

/*Enclosing class for group of all links on navbar*/
.navbar .links {    
    margin-right: 40px;
}

/*Individual text for links*/
.navbar .links a {
    float: right;
    color: #ba4c0d;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 18;
    padding: 18px 28px;
}

/*Hovering over a link on the navbar*/
.navbar a:hover {
    background: #e7ea4d;
    color: #000000;
    transition: 1.5s;
    -webkit-transition: 1.5s;
}

/*--------------------*/

/*Enclosing class for the scrolling area. Height
    must be big enough to hold all the boxes*/

/*Narrow smartphone screens*/
@media screen and (max-width: 399px) {
    #main{
        margin-top: 175px;
    }
}

/*Wide smartphone screens*/
@media screen and (min-width: 400px) and (max-width: 499px) {
    #main{
        margin-top: 115px;
    }
}

/*Tablet and laptop screens*/
@media screen and (min-width: 501px) {
    #main {
        margin-top: 50px;
    }
}

/*Apply to all devices*/
#main {
    padding: 16px;
    height: 1500px;
}

/*--------Specifications for the colored boxes that scroll--------*/

/*Yellow colored box*/
#box-light {
    background: #ffc000;
    margin: 6% 7%;
    padding: 10px;
    overflow: auto;
    border-radius: 18px;
}

/*Dark blue colored box*/
#box-dark {
    background: #10145b;
    margin: 6% 7%;
    padding: 10px ;
    overflow: auto;
    border-radius: 18px;
}

/*----------------*/

/*--------Specifications for text inside boxes--------*/

/*Smartphone screens*/
@media screen and (max-width: 500px) {
    /*Paragraph title (both colors)*/
    #p-title-black, #p-title-white {
        font-size: 18;
    }

    /*Paragraph body (both colors, indented or unindented)*/
    #p-unindent-black, #p-indent-black, #p-unindent-white, #p-indent-white {
        font-size: 18;        
    }
}

/*Tablet and laptop screens*/
@media screen and (min-width: 501px) {
    /*Paragraph title (both colors)*/
    #p-title-black, #p-title-white {
        font-size: 28;
    }

    /*Paragraph body (both colors, indented or unindented)*/
    #p-unindent-black, #p-indent-black, #p-unindent-white, #p-indent-white {
        font-size: 28;        
    }
}

/*Paragraph title with black text*/
#p-title-black {
    color: #000000;
}

/*Paragraph title with white text*/
#p-title-white {
    color: #ffffff;   
}

/*Paragraph title (both colors)*/
#p-title-white, #p-title-black {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center; 
}

/*Paragraph body with indented text (both colors)*/
#p-indent-black, #p-indent-white {
    text-indent: 50px;
}

/*Paragraph body with black text*/
#p-unindent-black, #p-indent-black {
    color: #000000;
}

/*Paragraph body with white text*/
#p-unindent-white, #p-indent-white {
    color: #ffffff;
}

/*Paragraph body (both colors, indented or unindented)*/
#p-unindent-black, #p-indent-black, #p-unindent-white, #p-indent-white {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    padding: 9px 5%;
}

/*----------------*/

/*------Specifications for subway-like icon indicators------*/

#ts-circle {
    background: #4c80ef;
    border-radius: 40px;
    float: left;
    margin: 4px 5px;
    padding: 10px 10px;
    overflow: auto;
}

#sp-circle {
    background: #9966ff;
    border-radius: 40px;
    float: left;
    margin: 4px 5px;
    padding: 10px 10px;
    overflow: auto;
}

#osp-circle {
    background: #ff6600;
    border-radius: 32px;
    float: left;
    margin: 4px 5px;
    padding: 10px 10px;
    overflow: auto;
}

#u-circle {
    background: #009999;
    border-radius: 28px;
    float: left;
    margin: 4px 5px;
    padding: 10px 10px;
    overflow: auto;
}

#u-circle-text {
    color: #000000;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16;
    font-weight: bold;
    text-align: center;
    padding: 2px 6px;
}

#icon-text-black {
    color: #000000;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16;
    font-weight: bold;
    text-align: center;
    padding: 2px 1px;
}

#icon-text-white {
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16;
    font-weight: bold;
    text-align: center;
    padding: 2px 1px;
}

#key-text {
    color: #000000;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 14;
    text-align: left;
    padding: 14px 18px 6px 2px;
    float: left;
}

